.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    color: $title-color;
    text-align: center;
    @include fonts(700, 28px, normal, 0.84px);
    margin-bottom: 50px;

    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

    @media screen and (min-width:1200px) {
      @include fonts(700, 36px, normal, 1.08px);
    }
  }

  &__list {
    @extend %gap;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    @include size(auto, 92px);
    flex-basis: calc((95vw - 60px) / 2);

    @media screen and (min-width: 768px) and (max-width: 1199px){
      @include size(226px, 92px);
      flex-basis: calc((95vw - 90px) / 3);
    }
    @media screen and (min-width: 1200px) {
      @include size(auto, 92px);
      flex-basis: calc((100% - 150px) / 6);
    }
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $main-color;
    outline: 0;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $main-color;
    outline: 0;
  }

  &__link {
    @include size(100%, 100%);
    display: block;
    border-radius: 4px;
    outline: 1px solid $icons-color;
    // padding: 16px 32px;
    @include transition(border);
    display: flex;
    align-items: center;
    justify-content: center
  }
  &__icon {
    @include size(106px, 60px);
    fill: $icons-color;
    @include transition(fill);
  }
}
