.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: $title-color;
    text-align: center;
    @include fonts(700, 36px, normal, 1.08px);
    letter-spacing: 1.08px;
  }

  &__list {
    @extend %gap;
  }
  &__item {
    @include size(170px, 92px);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $main-color;
    outline: 0;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $main-color;
    outline: 0;
  }

  &__link {
    @include size(100%, 100%);
    display: block;
    border-radius: 4px;
    border: 1px solid $icons-color;
    padding: 16px 32px;
    @include transition(border);
  }
  &__icon {
    @include size(106px, 60px);
    fill: $icons-color;
    @include transition(fill);
  }
}
