.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.webp);
  @include size(auto, auto);
  padding: 118px 0;

  @media screen and (min-width: 1230px) {
    padding: 200px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include fonts(900, 26px, 161.538%, 1.56);
    color: #fff;
    @include size(auto, auto, 360px);

    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 1230px) {
      @include fonts(900, 44px, 1.36, 0.06);
      @include size(auto, auto, 596px);
    }
  }
  &__button {
    @include fonts(700, 16px, 1.875);
    color: #fff;
    background-color: $main-color;

    @include size(200px, 50px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    @include transition(background-color);

    @media screen and (min-width: 1230px) {
      @include size(216px, 50px);
    }
  }

  &__button:hover,
  &__button:focus {
    outline: 0;
    background-color: #fff;
    color: $main-color;
  }
}
