.modal__icon,
.close__icon {
  @include size();
  @include transition(fill);
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition-duration: 500ms;
  transform-origin: opacicty, visibility;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.modal {
  @include size(450px, 609px);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;

  @media screen and (min-width: 320px) and (max-width: 450px) {
    @include size(90vw, 610px);
    padding: 40px 20px 20px;
  }

  @media screen and (min-width: 1200px) {
    @include size(528px, 581px);
  }

  &__title {
    color: $title-color;
    text-align: center;
    @include fonts(700, 20px, normal, 0.6px);
    margin-bottom: 12px;
    margin-top: 2px;
    @include size(auto, auto, 448px);
  }
  &__item {
    position: relative;
  }
  &__label {
    color: $text-color;
    @include fonts(400, 12px, normal, 0.12px);
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
  &__comment {
    margin-bottom: 20px;
    @include size(370px, 120px);
    padding-left: 16px;
    padding-bottom: 90px;
    padding-top: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @include transition(border);

    @media screen and (min-width: 320px) and (max-width: 480px) {
      @include size(95%, 120px);
    }

    @media screen and (min-width: 1200px) {
      @include size(448px, 120px);
    }
  }
  &__comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
    @include fonts(400, 12px, normal, 0.12px);
  }
  &__input:hover,
  &__input:focus,
  &__comment:hover,
  &__comment:focus {
    outline: 0;
    border: 1px solid $main-color;
  }
  &__input {
    @include size(370px, 40px);
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    position: relative;
    padding-left: 42px;
    margin-top: 4px;
    @include transition(border);

    @media screen and (min-width: 320px) and (max-width: 450px) {
      @include size(95%, 40px);
    }

    @media screen and (min-width: 1200px) {
      @include size(448px, 40px);
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 28px;
  }
  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: $main-color;
    outline: 0;
  }
  &__button {
    border-radius: 4px;
    background: $main-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    @include fonts(700, 16px, normal, 0.96px);
    text-align: center;
    @include size(200px, 50px);
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include transition(background-color);
  }
  &__button:hover,
  &__button:focus {
    background-color: #fff;
    color: $main-color;
    outline: 0;
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    @include size(30px, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  &__close:hover .close__icon,
  &__close:focus .close__icon {
    fill: $main-color;
  }
  &__close:focus {
    outline: 0;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }
  &__checkbox {
    z-index: 2;
    opacity: 0;
  }

  &__checkbox:checked + .custom > .custom__icon {
    opacity: 1;
  }

  &__checkbox:checked + .custom {
    background-color: $main-color;
    outline: 0;
    @include size(16px, 15px);
    border-radius: 2px;
  }
  &__agree {
    color: $text-color;

    @include fonts(400, 12px, normal, 0.36px);

    @media screen and (min-width: 1200px) {
      @include fonts(400, 14px, normal, 0.42px);
    }
  }
  &__span {
    color: $main-color;
    @include fonts(400, 12px, normal, 0.36px);
    text-decoration-line: underline;

    @media screen and (min-width: 1200px) {
      @include fonts(400, 14px, normal, 0.42px);
    }
  }
}

.custom {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1.5px solid $title-color;
  border-radius: 1px;
  position: absolute;
  top: 0;
  left: -2px;
  background-color: #fff;
  @include size(14px, 13px);

  &__icon {
    @include size(11px, 8px);
    fill: #fff;
    opacity: 0;
  }
}
