.pluses {
  padding-top: 60px;
  padding-bottom: 60px;

@media screen and (min-width:1230px) {
  padding-top: 94px;
  padding-bottom: 94px;
}

  &__list {
    @extend %gap;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    @include size(100%, auto);
    font-size: 14px;
    text-align: center;

    @media screen and (min-width: 798px) and (max-width: 1229px) {
      @include size(354px, auto);
      text-align: left;
    }

    @media screen and (min-width: 1230px) {
      @include size(270px, auto);
      text-align: left;
    }
  }
  &__title {
    @include fonts(700, 14px, 1.14);
    color: $title-color;
  }

  &__text {
    @include fonts(400, 14px, 1.71);
    color: $text-color;
    margin-top: 10px;
  }
  &__item::before {
    content: "";
    display: block;
    @include size(100%, 120px);

    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item:nth-child(1)::before {
    background-image: url(../images/pluses-antenna.webp);
  }

  &__item:nth-child(2)::before {
    background-image: url(../images/pluses-clock.webp);
  }

  &__item:nth-child(3)::before {
    background-image: url(../images/pluses-diagram.webp);
  }

  &__item:nth-child(4)::before {
    background-image: url(../images/pluses-astronaut.webp);
  }
}
