.team {
  padding-top: 94px;
  background: #f5f4fa;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: $title__color;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 30px;

    .team__item {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      width: 270px;
      padding-bottom: 30px;
      background-color: #fff;

      .team__suptitle {
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        margin-top: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
      }

      .team__text {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: $text__color;
      }
    }
  }
}

.team__icons {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;

  .team__card {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    .team__link:hover .team__icon,
    .team__link:focus .team__icon {
      fill: #fff;
      outline: 0;
    }

    .team__link:hover,
    .team__link:focus {
      background-color: $main__blue;
      outline: 0;
    }
    .team__link {
      width: 100%;
      border-radius: 50%;
      height: 100%;
      display: block;
      padding: 12px;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      .team__icon {
        width: 20px;
        height: 20px;
        fill: $icons__color;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
