.team {
  background: #f5f4fa;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1230px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    @include fonts(700, 28px, 1.17, 0.84px);
    color: $title-color;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1230px) {
      @include fonts(700, 36px, 1.17, 1.08px);
      margin-bottom: 50px;
    }
  }
  &__list {
    @extend %gap;
    flex-wrap: wrap;
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include size(450px, auto);
    padding-bottom: 30px;
    background-color: #fff;

    @media screen and (min-width: 798px) and (max-width: 1229px) {
      @include size(354px, auto);
    }

    @media screen and (min-width: 1230px) {
      @include size(270px, auto);
    }
  }
  &__suptitle {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    @include fonts(500, 16px, 1.17, 0.48px);
  }

  &__text {
    text-align: center;
    @include fonts(400, 16px, 1.19);
    color: $text-color;
  }
  &__icons {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  &__card {
    @include size(44px, 44px);
    border-radius: 50%;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: #fff;
    outline: 0;
  }

  &__link:hover,
  &__link:focus {
    background-color: $main-color;
    outline: 0;
  }
  &__link {
    border-radius: 50%;
    @include size(100%, 100%);
    display: block;
    padding: 12px;
    @include transition(background-color);
  }
  &__icon {
    @include size(20px, 20px);
    fill: $icons-color;
    @include transition(fill);
  }
}
