.header {
  &__portfolio {
    border-bottom: solid 1px #ececec;
  }
  &__container {
    display: flex;
    align-items: center;
    height: 80px;

    .header__nav {
      display: flex;
      margin-right: auto;

      .header__logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: $main__blue;

        .logo__span {
          font-weight: 700;
          font-size: 26px;
          line-height: 1.19;
          color: black;
        }
      }

      .header__list {
        display: flex;
        margin-left: 93px;
        gap: 50px;
        align-items: center;

        .header__after {
          position: relative;
        }
        .header__after::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: $main__blue;
          position: absolute;
          left: 0px;
          bottom: -28px;
          transform-origin: (50%, 50%);
        }
        .header__item {
          .header__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: $title__color;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          }
          .header__link:hover,
          .header__link:focus,
          .header__current {
            color: $main__blue;
            outline: 0;
          }
        }
      }
    }
  }
}
.contacts__list {
  display: flex;
  gap: 50px;

  .header__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $text__color;
    display: flex;
    gap: 10px;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__icon1 {
    width: 16px;
    height: 12px;
    fill: $text__color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__icon2 {
    width: 10px;
    height: 16px;
    fill: $text__color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__text:hover .header__icon1,
  .header__text:hover .header__icon2,
  .header__text:focus .header__icon1,
  .header__text:focus .header__icon2 {
    fill: $main__blue;
    outline: 0;
  }

  .header__text:focus,
  .header__text:hover {
    color: $main__blue;
    outline: 0;
  }
}
