.header {
  &__portfolio {
    border-bottom: solid 1px #ececec;
  }
  &__container {
    display: flex;
    align-items: center;
    @include size(auto, 60px, 768px);

    @media screen and (min-width: 768px) {
      @include size(auto, 80px, 1200px);
    }
  }
  &__nav {
    display: flex;
    margin-right: auto;
  }
  &__logo {
    font-family: "Raleway";
    @include fonts(700, 24px, 0.72px);
    color: $main-color;

    @media screen and (min-width: 1200px) {
      @include fonts(700, 26px, 1.19, 0.78px);
    }

    @media screen and (min-width: 768px) and (max-width:1299px) {
      @include fonts(700, 24px);
    }
  }
  &__span {
    color: black;
    @include fonts(700, 24px, 0.72px);

    @media screen and (min-width: 1200px) {
      @include fonts(700, 26px, 1.19, 0.78px);
    }
    
    @media screen and (min-width: 768px) {
      @include fonts(700, 24px);
    }
  }
  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 93px;
      gap: 50px;
      align-items: center;
    }
  }
  &__after {
    position: relative;
  }
  &__after::after {
    content: "";
    display: block;
    @include size(100%, 4px);
    border-radius: 2px;
    background-color: $main-color;
    position: absolute;
    left: 0px;
    bottom: -31px;
    transform-origin: (50%, 50%);
  }
  &__link {
    @include fonts(500, 14px, normal);
    color: $title-color;
    @include transition(color);
  }
  &__link:hover,
  &__link:focus,
  &__current {
    color: $main-color;
    outline: 0;
  }
  &__button {
    background-color: #fff;
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
  }
  &__menu {
    @include size(40px, 40px);
    // display: block;
  }
}
.contacts {
  display: none;

  @media screen and (min-width: 1200px){
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }
  

  &__text {
    @include fonts(500, 14px, normal);
    color: $text-color;
    display: flex;
    gap: 10px;
    align-items: center;
    @include transition();
  }
  &__icon1 {
    @include size(16px, 12px);
    fill: $text-color;
    @include transition(fill);
  }

  &__icon2 {
    @include size(10px, 16px);
    fill: $text-color;
    @include transition(fill);
  }
  &__text:hover &__icon1,
  &__text:hover &__icon2,
  &__text:focus &__icon1,
  &__text:focus &__icon2 {
    fill: $main-color;
    outline: 0;
  }

  &__text:focus,
  &__text:hover {
    color: $main-color;
    outline: 0;
  }
}